/*Tablet*/
@media (max-width: 840px) {

     /* Menu */
     .menu__list__item {
        display: none;
        
    }

    .menu__list__item__contato{
        display: block;
        font-size: 1rem;
    }

    /*title*/
    .title__profile{
        width: 50%;
        align-items: center;
    }

    .title__bio{
        font-size: 1.4rem;
    }

    .title__subsection {
        font-size: 1rem;
    }

    .title__network{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* Sobre mim */
    .about__paragraph{
        padding: 18px;
        font-size: 1.2rem;
    }
    
    /* Experiências acadêmicas, Hobbies, Skills */
    .academic__courses,
    .hobbies__line,
    .skills__line{
        flex-wrap: wrap;
    }

    .hobbies__box,
    .card_skills__box{
        width: 223px;
        height: 118px;
    }

    .experience{
        gap:40px;
    }

    .experience__img{
        margin-left: 4%;
        padding-top: 4%;
    }

    .experience__title,
    experience__text{
        font-size: 0.3rem;
    }

    .experiencie__box,
    .experiencie__box__2 {
        gap:10px;
        flex-direction: column;
    }

    .experiencie__box__2{
        flex-direction: row;
    }

    /*Contato*/
    .formcontato__contacto{
        gap:0;
    }
    .formcontato__img{
        display: none;
    }

    .formcontato__text{
        width: 100%;
    }

}

/* MOBILE */

@media (max-width: 767px) {

     /* Sobre mim */
     .about__paragraph{
        padding: 18px;
        font-size: 1.2rem;
    }

    /* Botões */
    .experiencia__botao--repo{
        height: 36px;
        width: 90px;
        margin-bottom: 6px;
        font-size: 0.7rem;
    }
    
    .experiencia__botao--demo{
        height: 36px;
        width: 90px;
        font-size: 0.7rem;
    }

     /*Menu*/

     .menu__title{
        font-size: 0.8rem;
    }

    .menu__list {
        padding: 0;
    }

    .menu__list__item__contato {
        font-size: 0.8rem;
        font-weight: 200;
    }

     /*Titulo*/

     .title__div{
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    .title__network {
        font-size: 0.8rem;
        gap:1px;
    }

    /* Experiências acadêmicas, Hobbies, Skills */

    .skills{
        width: 100%;
    }

    .hobbies__box,
    .card_skills__box{
        width: 90px;
        height: 80px;
        margin-bottom: 8px;
    }
    .skills__name, .hobbie_name{
        font-size: 0.8rem;
    }

    .experience__img{
        margin-left: 4%;
        padding-top: 4%;
    }

    .experience__title,
    experience__text{
        font-size: 0.3rem;
    }

  /*Contato*/
  .formcontato__contacto{
    gap:0;
}
.formcontato__img{
    display: none;
}

.formcontato__text{
    width: 100%;
}

}

.formcontato__botao{
    padding: 28px;
    font-size: 0.9rem;
}